
/* MAIN ALIGNMENT */ 
/* style.css */
body {
    padding: 0;
    margin: 0;
    display: grid; /* Set up the grid and justify/align to center */
    justify-content: center;
    align-content: center;
    height: 100vh; /* Body is the height of the viewport */
    overflow: hidden; /* Hide anything that goes off the window size */
    background-color: black;
}
  
  canvas {
    display: block; /* Remove extra space below canvas */
    width: 50%; /* Or any specific width */
    margin: 0, auto;
    top: 0;
    z-index: 1; /* Place canvas below overlay */
  }


  /* base css code from the internet, how to overlay a div on a p5 canvas */ 
#overlay-content {
    position: absolute;
    height: 100vh; /* Body is the height of the viewport */
    width: 100vh; /* Body is the width of the viewport */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the overlay */
    z-index: 2; /* Place overlay above canvas */
    padding: 0px;
    border-radius: 10px;
    text-align: center;
  }


.main-txt {
    font-family: "Ballet", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 40px; 
    font-style: normal;

    position: absolute;
      bottom: 3%; /* Vertically center the rotated h1 */
      right: 55%; /* Position it on the left side of the page */
      transform: translateY(-50%) rotate(-90deg); /* Adjust vertical position and rotate */
      transform-origin: center;
      white-space: nowrap;
    order: 0;
  
    color: rgb(157, 217, 255); 
    text-shadow:
      0 0 5px rgb(154, 221, 255), /* Smaller, sharper glow */
      0 0 10px rgb(135, 213, 255), /* Medium glow */
      0 0 20px rgb(206, 228, 240), /* Larger, softer glow */
      0 0 40px rgb(165, 224, 255); /* Even larger, softer glow */
      
}
  