

body {
    padding: 0;
    margin: 0;
    display: grid; /* Set up the grid and justify/align to center */
    justify-content: center;
    align-content: center;
    height: 100vh; /* Body is the height of the viewport */
    overflow: hidden; /* Hide anything that goes off the window size */
    background-color: black;
    background-size: 100% auto; /* 100% width, auto height */
    
}

.jesus-ascii {
    float: right;
    margin-left: 50%; 
    background-image: url('assets/jesusascii.png');
    z-index: -1;
    display:block;
    position: absolute;
}

.main-contents {
    padding: 100px; 
}


.deco-txt h1 {
    font-family: "VT323", monospace;
    font-size: 20px; 
    font-style: normal;
    color: rgb(255, 255, 255); 
    line-height: 2; 
}

.main-txt {
    font-family: "Ballet", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 140px; 
    font-style: normal;

    position: absolute;
      bottom: 3%; /* Vertically center the rotated h1 */
      right: 55%; /* Position it on the left side of the page */
      transform: translateY(-50%) rotate(-90deg); /* Adjust vertical position and rotate */
      transform-origin: center;
      white-space: nowrap;
    order: 0;
  
    color: rgb(144, 144, 144); 
    text-shadow:
      0 0 5px rgb(104, 104, 104), /* Smaller, sharper glow */
      0 0 10px rgb(115, 115, 115), /* Medium glow */
      0 0 20px rgb(88, 88, 88), /* Larger, softer glow */
      0 0 40px rgb(58, 58, 58); /* Even larger, softer glow */
      
}

.tenet-txt {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-size: 20px; 
    text-decoration: underline;
    font-style: normal;
    color: black; 
    line-height: 2; 

    /* GLOW */ 
    color: white; 
    text-shadow:
      0 0 5px rgb(228, 228, 228), /* Smaller, sharper glow */
      0 0 10px rgb(178, 178, 178), /* Medium glow */
      0 0 20px rgb(78, 78, 78), /* Larger, softer glow */
      0 0 40px rgb(35, 35, 35); /* Even larger, softer glow */

      
}

/* Tenets Hover */ 
.t1:hover {
    color: black;
    text-shadow: none; 
    text-decoration: underline;
}

.t2:hover {
    color: black;
    text-shadow: none; 
    text-decoration: underline;
}

.t3:hover {
    color: black;
    text-shadow: none; 
    text-decoration: underline;
}
.t4:hover {
    color: black;
    text-shadow: none; 
    text-decoration: underline;
}
.t5:hover {
    color: black;
    text-shadow: none; 
    text-decoration: underline;
}
.t6:hover {
    color: black;
    text-shadow: none; 
    text-decoration: underline;
}
.t7:hover {
    color: black;
    text-shadow: none; 
    text-decoration: underline;
}
.t8:hover {
    color: black;
    text-shadow: none; 
    text-decoration: underline;
}
.t9:hover {
    color: black;
    text-shadow: none; 
    text-decoration: underline;
}
.t10:hover {
    color: black;
    text-shadow: none; 
    text-decoration: underline;
}


.click-here {
    animation: blink 1.2s infinite; /* Apply the blink animation */
    font-family: "VT323", monospace;
    font-weight: 400;
    font-size: 15px; 
    font-style: normal;
    color: rgb(146, 146, 146); 

}
    
@keyframes blink {
    0% {
        opacity: 0; /* Start completely transparent */
    }
    50% {
        opacity: 1; /* Fully visible at 50% through the animation */
        color: rgb(146, 146, 146); 
    }
    100% {
        opacity: 0; /* Back to transparent at the end */
        color: rgb(27, 27, 27); 
    }
}

mark {
    background-color: rgb(255, 0, 179); /* Change highlight color */
    color: white; /* Change text color */
    padding: 2px 5px; /* Add some padding */
    border-radius: 3px; /* Slightly rounded corners */
}

.agreed-txt {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-size: 140px; 
    font-style: normal;
    color: white; 
    line-height: 2; 
    animation: blink 1.2s infinite; /* Apply the blink animation */
    /* GLOW */ 
    color: rgb(0, 0, 0); 
    text-shadow:
      0 0 5px rgb(0, 41, 63), /* Smaller, sharper glow */
      0 0 10px rgb(66, 66, 66), /* Medium glow */
      0 0 20px rgb(120, 120, 120), /* Larger, softer glow */
      0 0 40px rgb(226, 226, 226); /* Even larger, softer glow */
      
}




/* Commiting page */
#contentContainer {
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white; /* white background */
    background-image: url('https://i.pinimg.com/originals/fe/7a/ae/fe7aaefe62ce173b724b99280d1c8708.gif');
    color: rgb(12, 12, 12);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center; 
    z-index: 100; /* Ensure it is on top of everything */
    opacity: 1;
    transition: opacity 0.5s ease-out; /* Add a fade transition */
}

/* Style the main content, hidden by default */
#siteContent {
    padding: 20px;
}

/* Class to hide elements */
.hidden {
    display: none !important;
}

/* Class to fade out the overlay before hiding */
.fade-out {
    opacity: 0 !important;
}
